.contactRow{
    padding-top: 30px;
    justify-content: center;
}
.mainContactText{
    text-align: center;
    color: white;

}

.subText{
    text-align: center;
    color: white;
}

a:hover {
    color: black;
}
  

.icon{
    width: 34px;
    height: 25px;
    margin-right: 20px;
}

.icon2{
    width: 34px;
    height: 32px;
    margin-right: 20px;
    margin-left: 46px;
}

.bla{
    background-color: pink;
}