.tech-img{
    width: 114px;
    height: 114px;
    align-self: center;
    justify-self: center;
    margin: 0px;
    padding: 0px;
}
.tech-image-container{
   
    height: 114px;
    width: 114px;
    margin: 0px;
    padding: 0px;

}
